<!--<span>{{ title }} app is running!</span>

<app-first></app-first>

<app-demointerpolation></app-demointerpolation>
-->
<!--<app-propertybindingdemo></app-propertybindingdemo> -->
<!--<app-stylebindingdemo></app-stylebindingdemo> -->

<!--<app-eventbindingdemo></app-eventbindingdemo> -->
<!--
<app-templatereferencedemo></app-templatereferencedemo>
-->
<!--<app-twowaybindingdemo></app-twowaybindingdemo> -->
<!--<app-ngifdemo></app-ngifdemo> -->
<!--<app-ngswitchdemo></app-ngswitchdemo> -->

<app-ngfordemo></app-ngfordemo>
